.merch-col.col {
  text-align: left;
  width: 85%;
  max-width: 1200px;
}

.merch-container {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 85vh;
  overflow: hidden;
}

.merch-item {
  width: 33%;
  text-align: center;
  display: inline-block;
}

.merch-img {
  width: 200px;
}

.merch-info * {
  display: inline-block;
  width: 50%;
}

.merch-info {
  width: 200px;
  font-family: 'Rubik Mono One', sans-serif;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.merch-info h3 {
  text-align: left;
}
.merch-info p {
  float: right;
  text-align: right;
}

button.merch-button {
  width: 200px;
  border-radius: 0px;
  border: 5px solid;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1.2em;
  padding: .2em 0;
}
