nav, footer {
  width: 100%;
  padding: 5px 0;
  background-color: #f24d16;
  position: relative;
  z-index: 100;
}
nav, footer, img.logo,
h2.song-title, .song-break, .social a,
.controls, .controls button, div.icon-border,
a.link, .photo-container {
  -webkit-transition: all 1.2s ease-out;
  -moz-transition: all 1.2s ease-out;
  -o-transition: all 1.2s ease-out;
  transition: all 1.2s ease-out;
}
.container {
  height: 100%;
  background-image: url('/assets/tree.png');
  background-position: 50% 50%;
  background-size: cover;
}
img.logo {
  width: auto;
  height: 60px;
}
.body-wrapper {
  height: 85vh;
  z-index: 0;
  position: relative;
}
.body-wrapper .animated-page-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.title-wrapper {
  text-align: center;
}
h1.nav-title, h2.song-title {
 margin: 0;
 font-family: 'Liquido';
 font-size: 2.5em;
 color: #edd834;
 letter-spacing: 4px;
}
.song-break {
  margin: 0 .5em;
}
h2.song-title  {
  font-size: 6em;
  float: left;
  min-width: 400px;
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
h2.song-title  {
  cursor: pointer;
}
h2.song-title#small {
  min-width: 300px;
}
footer {
  padding: 0;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  max-height: 85px;
}
footer * {
  display: inline-block;
}
.marquee {
  width: 200%;
  transform: translate3d(0, -20px, 0);
}
.playlist {
  /*animation: maruee 60s infinite linear;*/
}

@-webkit-keyframes marquee {
  0%   { transform: translateX(80%); }
  100% { transform: translateX(-100%); }
}
@-moz-keyframes marquee {
  0%   { transform: translateX(80%); }
  100% { transform: translateX(-100%); }
}
@-o-keyframes marquee {
  0%   { transform: translateX(80%); }
  100% { transform: translateX(-100%); }
}
@keyframes marquee {
  0%   { transform: translateX(80%); }
  100% { transform: translateX(-100%); }
}
.social {
  float: left;
  margin: .5em 2em;
  position: absolute;
}
.social i.icon {
  font-size: 1em;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  margin: 0;
}
.icon-border {
  position: relative;
  text-align: center;
  border-radius: 50%;
  border: 1px solid;
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0 .5em;
}
.audio-player {
  max-height: 100px;
}
.controls {
  position: absolute;
  right: 5px;
  bottom: 80px;
  padding: 1em;
}
button.audio-control {
  background: none;
  color: #fcfcfc;
  border: 1px solid;
  font-size: 1.2em;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  text-align: center;
  margin: .5em;
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
button.audio-control:hover {
  cursor: pointer;
}
button:focus {outline:0;}
button#pause {
  height: 42px;
  width: 42px;
}
.nav-wrapper {
  position: absolute;
  top: 268px;
  right: -210px;
  margin: 0em 2em;
  transform: rotate(-90deg);
}
a.link {
  background-color: black;
  padding: 1em;
  text-decoration: none;
  font-family: 'Rubik Mono One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.4em;
}
