.blog-container {
  position: relative;
  display: inline-block;
  min-height: 100vh;
  width: 100vw;
}

.blog-list {
  width: 60%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.blog h3 {
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
}

.excerpt-wrapper {
  font-family: 'Open Sans';
  font-size: .8em;
}

.blog {
  padding: 3em 1em;
  border-bottom: 1px solid;
}

.blog-link-wrapper {
  margin-top: 2em;
}

.blog a {
  font-family: 'Rubik Mono One', sans-serif;
  text-decoration: none;
  border: 3px solid;
  padding: 0.4em 1em;
}
