nav, footer {
  width: 100%;
  padding: 5px 0;
  background-color: #f24d16;
  position: fixed;
  z-index: 100;
}
nav, footer, img.logo,
h2.song-title, .song-break, .social a,
.controls, .controls button, div.icon-border,
a.link, .photo-container, .route-container, .post-container,
.mobile-menu button, .mobile-menu i {
  -webkit-transition: all 1.2s ease-out;
  -moz-transition: all 1.2s ease-out;
  -o-transition: all 1.2s ease-out;
  transition: all 1.2s ease-out;
}
.social a div, .social a div:hover {
  -webkit-transition: color 1.2s ease-out;
  -moz-transition: color 1.2s ease-out;
  -o-transition: color 1.2s ease-out;
  transition: color 1.2s ease-out;
}
.container {
  min-height: 100vh;
  background-image: url('/assets/tree.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}
img.logo {
  width: auto;
  height: 60px;
}
.body-wrapper {
  height: 100%;
  z-index: 0;
  position: relative;
  width: 100%;
  display: inline-block;
  margin-top: 74px;
}
.animated-page-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.title-wrapper {
  text-align: center;
}
h1.nav-title, h2.song-title {
 margin: 0;
 font-family: 'Liquido';
 font-size: 2.5em;
 color: #edd834;
 letter-spacing: 4px;
}
.song-break {
  margin: 0 .5em;
}
h2.song-title  {
  font-size: 6.5em;
  float: left;
  min-width: 400px;
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
h2.song-title  {
  cursor: pointer;
}
h2.song-title#small {
  min-width: 300px;
}
footer {
  padding: 0;
  bottom: 0;
  overflow: hidden;
  max-height: 85px;
}
footer * {
  display: inline-block;
}
.marquee {
  width: 200%;
  transform: translate3d(0, -7px, 0);
}
.playlist {
  /*animation: maruee 60s infinite linear;*/
}

@-webkit-keyframes marquee {
  0%   { transform: translateX(80%); }
  100% { transform: translateX(-100%); }
}
@-moz-keyframes marquee {
  0%   { transform: translateX(80%); }
  100% { transform: translateX(-100%); }
}
@-o-keyframes marquee {
  0%   { transform: translateX(80%); }
  100% { transform: translateX(-100%); }
}
@keyframes marquee {
  0%   { transform: translateX(80%); }
  100% { transform: translateX(-100%); }
}
.social {
  float: left;
  margin: .5em 2em;
  position: absolute;
}
.social i.icon {
  font-size: 1em;
  position: absolute;
  top: 33%;
  left: 0;
  right: 0;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  margin: 0;
}
.icon-border {
  position: relative;
  text-align: center;
  border-radius: 50%;
  border: 1px solid;
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0 .5em;
}
.audio-player {
  max-height: 100px;
}
.controls {
  position: fixed;
  right: 5px;
  bottom: 80px;
  padding: 1em;
}
button.audio-control {
  background: none;
  color: #fcfcfc;
  border: 1px solid;
  font-size: 1.2em;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  text-align: center;
  margin: .5em;
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
}
button.audio-control:hover {
  cursor: pointer;
}
button:focus {outline:0;}
button#pause {
  height: 42px;
  width: 42px;
}
.lrg-menu {
  position: absolute;
  top: 268px;
  right: -206px;
  margin: 0em 2em;
  transform: rotate(-90deg);
}
a.link {
  background-color: black;
  padding: 1em;
  text-decoration: none;
  font-family: 'Rubik Mono One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.4em;
}
.col {
  text-align: center;
  width: 50%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
}

.mobile-menu {
  display: none;
}

@media only screen
and (max-device-width : 768px) {
  .lrg-menu {
    display: none;
  }

  .social {
    display: none;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    top: 0;
    -webkit-transition: right 1s ease;
    -moz-transition: right 1s ease;
    -o-transition: right 1s ease;
    transition: right 1s ease;
  }

  .nav-wrapper {
    position: absolute;
    top: 0;
    margin: 0;
    transform: none;
  }

  a.link {
    padding: 1em;
    text-decoration: none;
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 1.4em;
  }

  .mobile-menu i.icon-menu {
    position: absolute;
    left: -70px;
    font-size: 3em;
    padding: 0.3em .6em;
    top: 8px;
  }

  .mobile-nav {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
  }

  .mobile-nav * {
    display: block;
  }
}
